/*Classes de ajuste complemetares*/

.info{
	text-align: center;
	font-family: cursive;
	font-size: 9px;
	margin-top: 10px;
}
.links{
	padding: 5px;
}
.size-12{
	font-size:12px; padding:4px;
}
.hm-color:{
	color: #20b5dc;
}
.login{
	float: right;
	margin-right: 5px;
}
.login a{
	color: #20b5dc;
}

.box-login{
	margin-top: 100px;
}
.hm-logo{
	width:120px;
	height:45px;
}
.base-icon{
	width: 28px;
	height: 28px;
}
.paginate{
	align-content: center;
}
.paginate ul{
	list-style: none;
}
.paginate ul li{
	display: inline;
}
.paginate a{
	border: solid 1px #DDD;
	background-color: #EEE;
	padding: 10px;
	margin: 5px;
}
.top{
	padding: 20px;
}
.icon-tel{
	padding: 5px;
	float: left;
}
#title{
	float: left;
	padding: 5px;
	color: #20b5dc;
}
.icon-search{
	margin-right: 5px;
	margin-top: 5px;
	width: 22px;
	height: 22px;
}
