<!DOCTYPE html>
<html ng-app="Book">
<head>
  <meta charset="utf-8">
  <title>Ramais corporativos | admin</title>
  <link rel="stylesheet" href="../css/semantic.min.css">
  <link rel="stylesheet" href="../css/icon.min.css">
  <link rel="stylesheet" href="../css/master.css">
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  <script src="../lib/angular.min.js" charset="utf-8"></script>
  <script src="../js/app.js" charset="utf-8"></script>
  <script src="../js/config.js" charset="utf-8"></script>
  <script src="../lib/angular-jwt.min.js" charset="utf-8"></script>
  <script src="../lib/dirPagination.js" charset="utf-8"></script>
  <script src="../js/controllers/adminCtrl.js" charset="utf-8"></script>
  <script src="../js/interceptores/authInterceptor.js" charset="utf-8"></script>
  <script src="../js/services/contatosAPI.js" charset="utf-8"></script>
  <script src="../js/values/config.js" charset="utf-8"></script>
</head>
<body ng-controller="adminCtrl">
  <div class="ui container">
    <br>
    <div class="ui secondary menu">
      <div class="header item"><img src="../images/_logo.png" title="Ramais corporativos" alt="Ramais corporativos" /></div>
      <a href="/admin" class="active item">
        Ramais
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="serach" ng-model="filter" placeholder="Procurar...">
            <i class="search link icon"></i>
          </div>
        </div>
        <div class="item">
          <div class="ui image primary label">
            <i class="icon user"></i>
            {{usuario_atual}}
            <a class="links" href="/admin/passwd"><i class="icon unlock"></i></a>
            <a class="links" href="/login"><i class="icon power"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="ui divider"></div>
    <br>
    <div class="ui grid">
      <div class="four wide column"></div>
      <div class="eight wide column">
        <table class="ui table">
          <thead>
            <th><h4 class="ui dividing header"><i class="icon phone"></i> Adicionar contato</h4></th>
          </thead>
          <tbody>
            <tr>
              <td>
                <form class="ui form" name="formEditarContato">
                  <div class="field">
                    <label for="name">Colaborador</label>
                    <input type="text" name="name" ng-model="contato.name" placeholder="Entre com nome do contato" ng-required="true">
                  </div>
                  <div class="field">
                    <label for="sector">Departamento</label>
                    <input type="text" name="sector" ng-model="contato.sector" placeholder="Entre com setor do contato" ng-required="true">
                  </div>
                  <div class="field">
                    <label for="ramal">Ramal</label>
                    <input type="number" name="ramal" ng-model="contato.ramal" placeholder="Entre com ramal do contato" ng-required="true">
                  </div>
                  <div class="field">
                    <select class="select" ng-model="contato.base" name="base" ng-required="true">
                      <<option value="">Selecione establecimento</option>
                      <option value="_matriz">Matriz</option>
                      <option value="_filial">Filial</option>
                    </select>
                  </div>
                  <div class="field">
                    <div class="ui toggle checkbox">
                      <input type="checkbox" name="role" ng-model="contato.role">
                      <label>Usuário administrador</label>
                    </div>
                  </div>
                  <div class="field" ng-if="contato.role">
                    <label for="login">Login</label>
                    <input type="text" name="login" ng-model="contato.login" placeholder="Entre com um login" ng-required="true">
                  </div>
                  <div class="field" ng-if="contato.role">
                    <label for="login">Senha</label>
                    <input type="password" name="senha" ng-model="contato.password" placeholder="Entre com um password" ng-required="true">
                  </div>
                  <div class="field">
                    <label>&nbsp;</label>
                    <button class="ui button primary fluid" ng-click="addContato(contato)" ng-disabled="formEditarContato.$invalid">Salvar</button>
                  </div>
                  <div class="field">
                    <button class="ui button teal fluid" ng-click="goHome()">Cancelar</button>
                  </div>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="four wide column"></div>
    </div>
    <p class="info">{{info}}</p>
  </div>
</body>
</html>
